<div class="hero">
  <div class="frosty col-10 offset-1 text-center">
    <br>
    <h1>Start living your best life.</h1>
    <br>
    <h2>Learn the skills you <em> need</em> to florish.</h2>
    <br>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br><br>
  </div>
</div>
